html {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    text-align: center;
}
h1 {
    font-size: 2.8rem;
    color: white;
}
.topnav {
    overflow: hidden;
    background-color: #2A4059;
}
body {
    margin: 0;

}
.content {
    padding: 50px;
}
.card-grid {
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 30px;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.card {
    background-color: white;
    box-shadow: 2px 2px 12px 1px rgba(140,140,140,.5);
}
button {
    width: 350px;
font-size: 30px;    
color: white;
    padding: 24px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}


#myHeader {
  background-color: #172330;
  color: white;
  padding-top: 20px;
  padding-bottom: 0px;
  text-align: center;
//	max-width: 600px;
font-size: 1.5rem;
}


.onButton{
    background-color: #1b8a94;
}

.offButton{
    background-color: #5f6c6d;
}

.connectButton{
    background-color: #24af37;
}

.disconnectButton{
    background-color: #d13a30;
}

.gray-label {
    color: #bebebe;
    font-size: 1rem;
}

.reading {
    font-size: 1.8rem;
}




.pbutton {
  display: inline-block;
  padding: 40px 25px;
  font-size: 34px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #04AA6D;
  border: none;
  border-radius: 15px;
  box-shadow: 0 19px #999;
}

.pbutton:hover {background-color: #3e8e41}

.pbutton:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}




.button-30 {
  align-items: center;
  appearance: none;
/*  background-color: #FCFCFD;*/
  background-color: white;

  border-radius: 10px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -9px,#D6D6E7 0 -9px 0 inset;
 
  box-sizing: border-box;
 /* color: #36395A; */
color:black;
  cursor: pointer;
  display: inline-flex;
 /* font-family: "JetBrains Mono",monospace;*/
  height: 120px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
/*  transition: box-shadow .15s,transform .15s; */
  transition: box-shadow .2s,transform .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 32px;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(4px);
}


#myProgress {
  width: 350px;
  background-color: #2A4059;
  margin:auto;
}

#myBar {
  width: 0px;
  height: 30px;
  background-color: #00ff00;
}


#map { height: 680px; 
width: 680px;
margin:auto;}
